.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
	background-image: url('../../assets/Summer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.article {
	padding: 5px 5px;
	margin-left: 20%;
	margin-right: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
	width: auto;
	height: auto;
	background-color: rgb(231, 187, 187);
	border: 2px solid rgb(130, 130, 255);
	text-align: left;
	font-size: 150%;
}

.title {
	text-align: left;
	color:red;
	font-size: 200%;
}

.pp {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 100%;
}
